# Konfiguraatiotiedostot
config.py
.env
# Python-työkalut ja ympäristöt
__pycache__
*.pyc
.venv
# Datahakemistot
data/ingestion/*
!data/ingestion/.gitkeep
data/HOPP/
data/NES/
# macOS tiedosto
*.DS_Store
